.keycloak-container-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  height: 100vh;
}

.keycloak-loading {
  border: 10px solid #f3f3f3;
  border-top: 8px solid #0d3b2f;
  border-bottom: 8px solid #0d3b2f;
  border-left: 2px solid #bba755;
  border-right: 2px solid #bba755;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
